<div class="container">

  <div class="ui-g">
    <form autocomplete="off" (ngSubmit)="pesquisar(-1)">

      <div class="ui-g-12">
        <h3><span style='font-weight:bold;'>Pessoas</span></h3>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label for="nome">Nome</label>
        <input pInputText type="text" name="nome" [(ngModel)]="filtro.nome">
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Pesquisar"></button>
      </div>

    </form>
  </div>

  <div class="ui-g-12">
    <p-table [value]="pessoas" [responsive]="true"
        [paginator]="true" [rows]="filtro.itensPorPagina"
        [lazy]="true" [totalRecords]="totalRegistros"
        (onLazyLoad)="aoMudarPagina($event)" #tabela>
      <ng-template pTemplate="caption">
        Lista de Pessoas
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>Nome</th>
          <th class="col-cidade-header">Cidade</th>
          <th class="col-estado-header">Estado</th>
          <th class="col-status">Status</th>
          <th class="col-acoes">Ações</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-pessoa>
        <tr>
          <td>{{pessoa.nome}}</td>
          <td class="col-cidade">{{pessoa.endereco.cidade}}</td>
          <td class="col-estado">{{pessoa.endereco.estado}}</td>

          <td class="col-status">
            <a href="javascript:;"
              [pTooltip]="pessoa.ativo ? 'Desativar' : 'Ativar'"
              tooltipPosition="top"
              (click)="alternarStatus(pessoa)">
              {{ pessoa.ativo ? 'Ativo' : 'Inativo' }}
            </a>
          </td>

          <td class="col-acoes">
            <button pButton icon="fas fa-edit" pTooltip="Editar" tooltipPosition="top"
              class="js-botao-tab"
              [routerLink]="['/pessoas', pessoa.codigo]"></button>
            <button pButton icon="fas fa-trash-alt" pTooltip="Excluir" tooltipPosition="top"
              (click)="confirmaExclusao(pessoa.codigo)" class="js-botao-tab ml-1"></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage" let-columns>
          <tr>
              <td [attr.colspan]="5" style="text-align: center; color: red;">
                  <span><b>Nenhum registro encontrado para a pesquisa informada! </b></span>
              </td>
          </tr>
      </ng-template>

    </p-table>

  </div>

  <p-toast></p-toast>

  <div class="ui-g-12">
    <a pButton label="Nova Pessoa" routerLink="/pessoas/nova"></a>
  </div>

<!--
  <div class="ui-g-12">
    <p-dataTable [value]="pessoas" [responsive]="true"
        [paginator]="true" [rows]="filtro.itensPorPagina"
        [lazy]="true" [totalRecords]="totalRegistros"
        (onLazyLoad)="aoMudarPagina($event)" #tabela
        emptyMessage="Nenhuma pessoa encontrada">
      <p-column field="nome" header="Nome"></p-column>
      <p-column field="endereco.cidade" header="Cidade"></p-column>
      <p-column field="endereco.estado" header="Estado"></p-column>
      <p-column field="ativo" header="Status">
        <ng-template let-pes="rowData" pTemplate="body">
          <a href="javascript:;" [pTooltip]="pes.ativo ? 'Desativar' : 'Ativar'"
            tooltipPosition="top"
            (click)="alternarStatus(pes)">
            {{ pes.ativo ? 'Ativo' : 'Inativo' }}
          </a>
        </ng-template>
      </p-column>
      <p-column styleClass="col-acoes">
          <ng-template pTemplate="body" let-pes="rowData">
              <a pButton icon="fas fa-edit" pTooltip="Editar" tooltipPosition="top"
                class="js-botao-tab"
                [routerLink]="['/pessoas', pes.codigo]"></a>
              <button pButton icon="fas fa-trash-alt" pTooltip="Excluir" tooltipPosition="top"
              (click)="confirmacao(pes.codigo)" class="js-botao-tab"></button>
          </ng-template>
      </p-column>
    </p-dataTable>
  </div>

  <p-toast></p-toast>

  <div class="ui-g-12">
    <a pButton label="Nova Pessoa" routerLink="/pessoas/nova"></a>
  </div>
  -->

</div>
