<div class="container">
  <form autocomplete="off" (ngSubmit)="salvar()" [formGroup]="formulario">
    <div class="ui-g">
      <div class="ui-g-12">
        <h3><span style='font-weight:bold;'>{{editando ? 'Edição de' : 'Novo'}} Lançamento</span></h3>
      </div>

      <div class="ui-g-12">
        <p-selectButton name="tipo" [options]="tipos"
          formControlName="tipo"></p-selectButton>
      </div>

      <!-- para o uso do p-calendar é preciso importar o componente BrowserAnimationsModule
      que está em app.module.ts -->
      <div class="ui-g-6 ui-md-3 ui-fluid">
        <label>Vencimento</label>
        <p-calendar name="vencimento" dateFormat="dd/mm/yy"
          [inline]="false" [readonlyInput]="true" [showIcon]="true"
          formControlName="dataVencimento"></p-calendar>

        <app-message [control]="formulario.get('dataVencimento')" error="required"
          text="Informe uma data de vencimento"></app-message>
      </div>

      <div class="ui-g-6 ui-md-3 ui-fluid">
        <label>{{ formulario.get('tipo').value === 'RECEITA' ? 'Recebimento' : 'Pagamento' }}</label>
        <p-calendar dateFormat="dd/mm/yy" name="dataPagamento" [readonlyInput]="true" [showIcon]="true"
          formControlName="dataPagamento"></p-calendar>
      </div>

      <div class="ui-g-12 ui-md-9 ui-fluid">
        <label for="descricao">Descrição</label>
        <input pInputText type="text" name="descricao"
          formControlName="descricao">

        <app-message [control]="formulario.get('descricao')" error="obrigatoriedade"
          text="Informe a descrição"></app-message>
        <app-message [control]="formulario.get('descricao')" error="tamanhoMinimo"
          text="Mínimo de {{ formulario.get('descricao').errors?.tamanhoMinimo?.tamanho }} caracteres">
        </app-message>
      </div>

      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label for="valor">Valor</label>
        <input pInputText type="text" name="valor" placeholder="0,00"
          currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', allowNegative: false }"
          formControlName="valor">
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid" formGroupName="categoria">
        <label>Categoria</label>
        <p-dropdown name="categoria" [options]="categorias"
          placeholder="Selecione" [autoWidth]="false"
          formControlName="codigo"></p-dropdown>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid" formGroupName="pessoa">
        <label>Pessoa</label>
        <p-dropdown name="pessoa" [options]="pessoas" placeholder="Selecione"
          [autoWidth]="false" [filter]="true"
          formControlName="codigo"></p-dropdown>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Observação</label>
        <textarea pInputTextarea rows="3" name="observacao"
          formControlName="observacao"></textarea>
      </div>

      <div class="ui-g-6 ui-g-offset-6 ui-md-2 ui-md-offset-10 ui-fluid"
        *ngIf="!nomeAnexo">
        <p-fileUpload name="anexo" mode="basic" auto="true" maxFileSize="100000000"
          chooseLabel="Anexar" accept="image/*,application/*"
          [url]="urlUploadAnexo"
          (onBeforeSend)="antesUploadAnexo($event)"
          (onUpload)="aoTerminarUploadAnexo($event)"
          (onErroo)="erroUpload($event)"
          [hidden]="uploadEmAndamento"></p-fileUpload>

        <p-progressSpinner [hidden]="!uploadEmAndamento"
          [style]="{ width: '25px', height: '25px' }"></p-progressSpinner>
      </div>

      <div class="ui-g-12" dir="rtl"
        *ngIf="nomeAnexo">

        <button pButton type="button" class="ui-button-danger"
          icon="fa-close" pTooltip="Remover anexo" tooltipPosition="top"
          (click)="removerAnexo()"></button>

        <a target="_blank" pTooltip="Baixar anexo" tooltipPosition="top"
          [href]="this.formulario.get('urlAnexo').value">{{ nomeAnexo }}</a>

      </div>

      <!-- <div class="container">
          <div class="row">
              <div class="col-md-6 offset-md-3">
                  <h3>Choose File</h3>
                  <form (ngSubmit)="onSubmit()">
                      <div class="form-group">
                          <input type="file" name="image" accept="image/*,application/*"
                          (change)="onFileChange($event);" />
                      </div>
                      <div class="form-group">
                          <button class="btn btn-primary">Submit</button>
                      </div>
                  </form>
              </div>
          </div>
      </div> -->

      <!-- <div class="ui-g-12 ui-fluid">
          <form (ngSubmit)="onSubmit()">
              <div class="form-group">
                  <input type="file" name="image"  />
              </div>
              <div class="form-group">
                  <button class="btn btn-primary">Submit</button>
              </div>
          </form>
      </div> -->

        <!-- <p-fileUpload name="anexo" [url]="urlUploadAnexo" (onUpload)="onUpload($event)"
          multiple="multiple" accept="image/*,application/*" maxFileSize="10000000"
          (onBeforeSend)="antesUploadAnexo($event)">
          <ng-template pTemplate="content">
              <ul *ngIf="uploadedFiles.length">
                  <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
              </ul>
          </ng-template>
        </p-fileUpload> -->

        <!-- <form >
          <div class="form-group">
              <input type="file" name="image"  />
          </div>
          <div class="form-group">
              <button class="btn btn-primary" (click)="upload()">Submit</button>
          </div>
        </form> -->

      <div class="ui-g-12">
        <button pButton type="submit" label="Salvar" [disabled]="formulario.invalid || uploadEmAndamento"></button>
        <button pButton type="button" label="Novo" class="ui-button-warning ml-2"
          (click)="novo()"></button>
        <a routerLink="/lancamentos" class="ml-2">Voltar para a pesquisa</a>
      </div>

    </div>

    <p-toast></p-toast>

  </form>
</div>
